{% extends "base.html" %}


{% block title %}
    Create
    {% if context_data == 'pk' %}
        primary key
    {% else %}
        index
    {% endif %}
    of table: "{{ table_name }}"
{% endblock %}


{% block content %}

    {% include 'home_sidebar.html' %}

    <form  action="
    {% if context_data == 'pk' %}
        {% url 'add_pk' table_name %}
    {% else %}
        {% url 'add_index' table_name %}
    {% endif %}

"
           method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="create_button" value="Create">
        <a href="{% url 'keys' table_name %}">
            <input type="button" name="cancel_button" value="Cancel">
        </a>
    </form>

{% endblock %}
